<a href="https://colab.research.google.com/github/rburakkorkmaz/CSE-406_Scientific-Programming/blob/main/KorkmazRamazanBurak_E1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><strong>Exercise 1</strong></h1>
<h3><strong>Student Name:</strong> Ramazan Burak Korkmaz</h3>
<h3><strong>Student ID:</strong> 202151056004</h3>
<h3><strong>Due:</strong> 04.03.2022</h3>

<h1><strong>1) Basic</strong></h1>

<h2><strong>Exercise 1.1:</strong> The interpreter</h2>
Open the Python interpeter. What happens when you input the following statements:
<ul>
  <li>(a) 3 + 1</li>
  <li>(b) 3 * 3</li>
  <li>(c) 2 ** 3</li>
  <li>(d) "Hello, world!"</li>

In [ ]:
3+1

4

In [ ]:
3*3

9

In [ ]:
2**3

8

In [ ]:
"Hello, world!"

'Hello, world!'

<h2><strong>Exercise 1.3:</strong> More interpreter</h2>
Explain the output of the following statements if executed subsequently:

<ul>
  <li>(a) 'py' + 'thon'</li>
  <li>(b) 'py' * 3 + 'thon'</li>
  <li>(c) 'py' - 'py'</li>
  <li>(d) '3' + 3</li>
  <li>(e) 3 * '3'</li>
  <li>(f) a</li>
  <li>(g) a = 3</li>
  <li>(h) a</li>

<h2>Answer (a)</h2>
<h3>Concatenating two string to one</h3>

In [ ]:
'py' + 'thon'

'python'

<h2>Answer (b)</h2>
<h3> In python, when you use multiplation operator with string, it copies the string number of times indicated. After copying, '+' operator will concatenate two string together.</h3>

In [ ]:
'py'*3 + 'thon'

'pypypython'

<h2>Answer (c)</h2>
<h3> Even though '+' and '*' operators are supported operators for string, '-' is not supported. Another way to say, it is not a valid operator strings. Therefore, we got the error.</h3>

In [ ]:
 'py' - 'py'

TypeError: ignored

In [ ]:
 '3' + 3

TypeError: ignored

In [ ]:
3 * '3'

'333'

In [ ]:
 a

NameError: ignored

In [ ]:
a = 3

In [ ]:
a

3

<h2><strong>Exercise 1.4:</strong> Booleans</h2>
Explain the output of the following statements:

<ul>
  <li>(a) 1 == 1</li>
  <li>(b) 1 == True</li>
  <li>(c) 0 == True</li>
  <li>(d) 0 == False</li>
  <li>(e) 3 == 1 * 3</li>
  <li>(f) (3 == 1) * 3</li>
  <li>(g) (3 == 3) * 4 + 3 == 1</li>
  <li>(h) 3**5 >= 4**4</li>

<h2>Answer (a)</h2>
<h3>Checking equality of two values.</h3>

In [ ]:
1 == 1

True

<h2>Answer (b)</h2>
<h3>This time equality is between different types. At the left side integer, at the right side Boolean. However usually 1 means True and 0 means false. You can examine second code I wrote for further understanding</h3>

In [ ]:
1 == True

True

In [ ]:
2 == True

False

<h2>Answer (c) & Answer (d)</h2>
<h3>Like I explained question above, 0 is usally equal to False in programming languages</h3>

In [ ]:
0 == True

False

In [ ]:
0 == False

True

<h2>Answer (e)</h2>
<h3>Checks equality of both sides after certain operations are done</h3>

In [ ]:
 3 == 1 * 3

True

<h2>Answer (f)</h2>
<h3>Checks equality of both sides after certain operations are done. Output is 0 becuase first eqality is false which is 0 in integer type. After that operation becomes 0 * 3 which is 0 eventually</h3>

In [ ]:
(3 == 1) * 3

0

<h2>Answer (g)</h2>
<h3>A bit different version of question above.</h3>

In [ ]:
(3 == 3) * 4 + 3 == 1

False

<h2>Answer (h)</h2>
<h3>A bit different version of question above.</h3>

In [ ]:
3**5 >= 4**4

False

<h2><strong>Exercise 1.5:</strong> Integers</h2>
Explain the output of the following statements:

<ul>
  <li>(a) 5 / 3</li>
  <li>(b) 5 % 3</li>
  <li>(c) 5.0 / 3</li>
  <li>(d) 5 / 3.0</li>
  <li>(e) 5.2 % 3</li>
  <li>(f) 2001 ** 200</li>

<h2>Answer (a)</h2>
<h3>5 and 3 are Integers, but output is always float</h3>

In [ ]:
5 / 3

1.6666666666666667

<h2>Answer (b)</h2>
<h3>% operator is module operator for two integers. It returns remainder</h3>

In [ ]:
5 % 3

2

<h2>Answer (c) & Answer (d)</h2>
<h3>This time 5.0 is float and 3 is integer, but output does not differ from 5 / 3</h3>
<h3>This time 5 is integer and 3.0 is float, but output does not differ from 5 / 3</h3>

In [ ]:
5.0 / 3

1.6666666666666667

In [ ]:
5 / 3.0

1.6666666666666667

<h2>Answer (e)</h2>
<h3>Modulo problem with float</h3>

In [ ]:
5.2 % 3

2.2

<h2>Answer (f)</h2>
<h3>2001 to the power of 200. It is same as pow function</h3>

In [ ]:
2001**200

1775896810483121914350934797871501063452843428843794422323202530887281536545210629921129898113201749875234297340507804201761453596034016264189501186924066128377025843892373608427790859511135990682732202975330824797118808624727351608183194154557208730494440110429635650057431833674286462463508755276302896154336475782768613964332764108132533925570342220340698973761380541294970139762186212823359128790706292900765512137078550033912252338262922477518858757114840012576514724742388124595061301502222934806074032688691170880996881967426442947828261057852871032366879179996122216385870273020506079240103910728766397733398071775041745854959302025036249707279600400001

<h2><strong>Exercise 1.6:</strong> Floats</h2>
Explain the output of the following statements:

<ul>
  <li>(a) 2000.3 ** 200 (compare with above)</li>
  <li>(b) 1.0 + 1.0 - 1.0</li>
  <li>(c) 1.0 + 1.0e20 - 1.0e20</li>
</ul>

<h2>Answer (a)</h2>
<h3>2000.3 to the power of 200.</h3>
<h3>According to the link below, maximum value of float can be 3.402823466 E + 38. However, our output is bigger than that number</h3>

[Link](https://docs.microsoft.com/en-us/cpp/c-language/type-float?view=msvc-170)

In [ ]:
(200.3)**100

1.4726343599791828e+230

In [ ]:
(200.3)**200

OverflowError: ignored

<h2>Answer (b)</h2>
<h3>Classic addition with float</h3>

In [ ]:
1.0 + 1.0 - 1.0

1.0

<h2>Answer (c)</h2>
<h3>Classic addition with float</h3>

In [ ]:
1.0 + 1.0e20 - 1.0e20

0.0

<h2><strong>Exercise 1.7:</strong> Variables</h2>
<h3>Write a script where the variable name holds a string with your name. Then, assuming for now your name is John Doe, have the script output: Hello, John Doe! (and obviously, do not use print "Hello, John Doe!". </h3>

In [ ]:
name = "Ramazan Burak Korkmaz"

In [ ]:
print(f"Hello, {name}")

Hello, Ramazan Burak Korkmaz

<h2><strong>Exercise 1.8:</strong> Type casting</h2>
Very often, one wants to \cast" variables of a certain type into another type. Suppose we have variable x = '123', but really we would like x to be an integer.
This is easy to do in Python, just use desiredtype(x), e.g. int(x) to obtain an integer.

Try the following and explain the output

<ul>
  <li>(a) float(123)</li>
  <li>(b) float('123')</li>
  <li>(c) float('123.23')</li>
  <li>(d) int(123.23)</li>
  <li>(e) int('123.23')</li>
  <li>(f) int(float('123.23'))</li>
  <li>(g) str(12)</li>
  <li>(h) str(12.2)</li>
  <li>(i) bool('a')</li>
  <li>(j) bool(0)</li>
  <li>(k) bool(0.1)</li>
</ul>

<h2>Answer (a)</h2>

In [ ]:
float(123)

123.0

<h2>Answer (b)</h2>

In [ ]:
 float('123')

123.0

<h2>Answer (c)</h2>

In [ ]:
float('123.23')

123.23

<h2>Answer (d)</h2>

In [ ]:
 int(123.23)

123

<h2>Answer (e)</h2>
<h3>123.23 is a float number, but we are trying to convert string version of 123.23 to integer. That's simply wrong. What we have to do is first convert to float then int</h3>

In [ ]:
int('123.23')

ValueError: ignored

In [ ]:
int(float('123.23'))

123

<h2>Answer (f)</h2>

In [ ]:
int(float('123.23'))

<h2>Answer (g)</h2>

In [ ]:
str(12)

'12'

<h2>Answer (h)</h2>

In [ ]:
str(12.2)

'12.2'

<h2>Answer (i)</h2>

In [ ]:
bool('a')

True

<h2>Answer (j)</h2>

In [ ]:
bool(0)

False

<h2>Answer (k)</h2>

In [ ]:
bool(0.1)

True

<h1><strong>2) Control Flow</strong></h1>

<h2><strong>Exercise 2.1:</strong> Range</h2>

Type range(5) in the interpreter, what does the interpreter return? So what does for i in range(5) mean?

Let's also find out whether the interpreter can help us understand the object `range(5)' better. Type type(range(5)) in the interpreter. More on this soon!

In [ ]:
range(5)

range(0, 5)

<h3>When we use range method, it creates a range type object. According to the link below range type is immutable sequence of number</h3>

[Link](https://docs.python.org/3/library/stdtypes.html#typesseq-range)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
type(range(5))

range

<h2><strong>Exercise 2.2:</strong> For loops</h2>

Use a for loop to:

<ul>
  <li>(a) Print the numbers 0 to 100</li>
  <li>(b) Print the numbers 0 to 100 that are divisible by 7</li>
  <li>(c) Print the numbers 1 to 100 that are divisible by 5 but not by 3</li>
  <li>(d) Print for each of the numbers x = 2; : : : 20, all numbers that divide x, excluding 1 and x. Hence, for 18, it should print 2 3 6 9.</li>
</ul>

<h2>Answer (a)</h2>

In [ ]:
for number in range(0, 100):
  print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

<h2>Answer (b)</h2>

In [ ]:
for number in range(0, 100, 7):
  print(number)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

<h2>Answer (c)</h2>

In [ ]:
for number in range(0, 100, 5):
  if number % 3 != 0:
    print(number)

5
10
20
25
35
40
50
55
65
70
80
85
95

<h2>Answer (d)</h2>

In [ ]:
for xNumbers in range(2, 21):
  print(f"{xNumbers} ==== > ", end="")
  for yNumbers in range(2, xNumbers):
    if xNumbers % yNumbers == 0:
      print(f"{yNumbers}  ", end = "")
  print("")

2 ==== >
3 ==== >
4 ==== > 2
5 ==== >
6 ==== > 2  3
7 ==== >
8 ==== > 2  4
9 ==== > 3
10 ==== > 2  5
11 ==== >
12 ==== > 2  3  4  6
13 ==== >
14 ==== > 2  7
15 ==== > 3  5
16 ==== > 2  4  8
17 ==== >
18 ==== > 2  3  6  9
19 ==== >
20 ==== > 2  4  5  10

<h2><strong>Exercise 2.3:</strong> Simple while loops</h2>

Instead of using a for loop, use a while loop to:

<ul>
  <li>(a) Print the numbers 0 to 100</li>
  <li>(b) Print the numbers 0 to 100 that are divisible by 7</li>
</ul>

<h2>Answer (a)</h2>

In [ ]:
count = 0

while count < 101:
  print(count)
  count = count + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
count = 0

while count < 101:
  print(count)
  count = count + 7

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

<h2><strong>Exercise 2.5:</strong> While loops</h2>

Use a while loop to find the first 20 numbers that are divisible by 5, 7 and 11, and print them Hint:
store the number found so far in a variable.

In [ ]:
number_of_founds = 0
number = 0
while number_of_founds < 21:
  if number % (5 * 7 * 11) == 0:
    number_of_founds = number_of_founds + 1
    print(number)
  number = number + 1

0
385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

<h1><strong>Another way to solve it</strong></h2>

In [ ]:
number_of_founds = 0
number = 0
while number_of_founds < 21:
  print(number)
  number = number + 5 * 7 * 11
  number_of_founds = number_of_founds + 1

0
385
770
1155
1540
1925
2310
2695
3080
3465
3850
4235
4620
5005
5390
5775
6160
6545
6930
7315
7700

<h2><strong>Exercise 2.6:</strong> More while loops</h2>

The smallest number that is divisible by 2, 3 and 4 is 12. Find the smallest number that is divisible by
all integers between 1 and 10.

In [ ]:
# Smallest number is initially 1
smallest_number = 1

# A boolean variable to control when to multiplicate
mul_bool = True

# First for loop to loop in numbers from 1 to 10
for number in range(1, 11):
  # Second for loop to loop in numbers from 2 to current number.
  # This loop checks if current number is divisible by previous ones
  for i in range(2, number):
    if number % i == 0:
      mul_bool = False
      break
  if mul_bool:
    smallest_number = smallest_number * number
  mul_bool = True

print(smallest_number)

210

<h2><strong>Exercise 2.7:</strong> Collatz sequence</h2>

A Collatz sequence is formed as follows: We start with some number x0, and we find the next number in the sequence by


![image.png]()


If xi = 1, we stop iterating and have found the full sequence.

For example, if we start with x0 = 5, we obtain the sequence:
      5 16 8 4 2 1
It is conjectured, though not proven, that every chain eventually ends at 1.

Print the Collatz sequence starting at x0 = 103.

In [ ]:
def checkEven(number):
  if number % 2 == 0:
    return True
  else:
    return False

x_0 = 103
chain = [x_0]

while chain[-1] != 1:
  if checkEven(chain[-1]):
    chain.append(chain[-1] / 2)
  else:
    chain.append(3 * chain[-1] + 1)

print(chain)

[103, 310, 155.0, 466.0, 233.0, 700.0, 350.0, 175.0, 526.0, 263.0, 790.0, 395.0, 1186.0, 593.0, 1780.0, 890.0, 445.0, 1336.0, 668.0, 334.0, 167.0, 502.0, 251.0, 754.0, 377.0, 1132.0, 566.0, 283.0, 850.0, 425.0, 1276.0, 638.0, 319.0, 958.0, 479.0, 1438.0, 719.0, 2158.0, 1079.0, 3238.0, 1619.0, 4858.0, 2429.0, 7288.0, 3644.0, 1822.0, 911.0, 2734.0, 1367.0, 4102.0, 2051.0, 6154.0, 3077.0, 9232.0, 4616.0, 2308.0, 1154.0, 577.0, 1732.0, 866.0, 433.0, 1300.0, 650.0, 325.0, 976.0, 488.0, 244.0, 122.0, 61.0, 184.0, 92.0, 46.0, 23.0, 70.0, 35.0, 106.0, 53.0, 160.0, 80.0, 40.0, 20.0, 10.0, 5.0, 16.0, 8.0, 4.0, 2.0, 1.0]

<h1><strong>3) Functions</strong></h1>

<h2><strong>Exercise 3.1:</strong> Hello</h2>

<ul>
  <li>(a) Write a function hello_world that prints 'Hello, world!'</li>
  <li>(b) Write a function hello_name(name) that prints 'Hello, name!' where name is a string.</li>
  <li>(c) Explain the dierence between the print and return keywords. What would change if instead of print you would use return?</li>
</ul>

<h2>Answer (a)</h2>

In [ ]:
def hello_world():
  print("Hello, world!")

hello_world()

Hello, world!

<h2>Answer (b)</h2>

In [ ]:
def hello_name(name):
  print(f"Hello, {name}")

hello_name("Ramazan Burak Korkmaz")

Hello, Ramazan Burak Korkmaz

<h2>Answer (c)</h2>
<h3>If we use return in function, there would be almost no change for this application. However there would be need of returning values from the function.</h3>

In [ ]:
def hello_name(name):
  print(f"Hello, {name}")

def hello_name_with_return(name):
  return f"Hello, {name}"

# hello_name function prints string directly in function
hello_name("Ramazan Burak Korkmaz")

# hello_name_with_return function returns string to print the string
print(hello_name_with_return("Ramazan Burak Korkmaz"))

Hello, Ramazan Burak Korkmaz
Hello, Ramazan Burak Korkmaz

<h2><strong>Exercise 3.2:</strong> Polynomial</h2>

Write a function that evaluates the polynomial 3*X^2 - X + 2

In [ ]:
def solve_function(x):
  return 3 * (x**2) - x + 2

# Solve for x = 3
print("X = 3")
print(f"Answer: {solve_function(3)}")

# Solve for x = 5
print("X = 5")
print(f"Answer: {solve_function(5)}")

# Solve for x = 10
print("X = 10")
print(f"Answer: {solve_function(10)}")

X = 3
Answer: 26
X = 5
Answer: 72
X = 10
Answer: 292

<h2><strong>Exercise 3.3:</strong> Maximum</h2>

Write a function my_max(x,y) that returns the maximum of x and y. Do not use the max function, but use if instead in following two ways:

<ul>
  <li>(a) Use both if and else.</li>
  <li>(b) Use if but not else (nor elif).</li>
</ul>

<h2>Answer (a)</h2>

In [ ]:
def my_max(x, y):
  if x > y:
    return x
  else:
    return y

# Find max between 23 and 56 numbers
print(my_max(23, 56))

56

<h2>Answer (b)</h2>

In [ ]:
def my_max(x, y):
  if x > y:
    return x
  return y

# Find max between 23 and 56 numbers
print(my_max(23, 56))

56

<h2><strong>Exercise 3.4:</strong> Primes</h2>

<ul>
  <li>(a) Write a function is_prime(n) that returns True only if n is prime.   </li>
  <li>(b) Note that apart from 2 and 3, all primes are of the form 6k +- 1 (though not all numbers of the form 6k +- 1 are prime of course). Using this, we can improve the computation time by a factor 3. Update your function to use this.
  </li>
  <li>(c) Write a function that returns all primes up to n.
  </li>
  <li>(d) Write a function that returns the first n primes.
  </li>
</ul>

<h2>Answer (a)</h2>

In [ ]:
def is_prime(n):
  prime = True
  for number in range(2, n):
    if n % number == 0:
      prime = False
  return prime

# Check if 10 is a prime number
print("Check for 10")
print(is_prime(10))

# Check if 11 is a prime number
print("Check for 11")
print(is_prime(11))

# Check if 21 is a prime number
print("Check for 21")
print(is_prime(21))

Check for 10
False
Check for 11
True
Check for 21
False

<h2>Answer (b)</h2>

In [ ]:
def is_prime(n):
  if ((n + 1) % 6 == 0) or ((n - 1) % 6 == 0):
    return True
  return False

# Check if 11 is prime
print("Check if 11 is prime")
print(is_prime(11))

# Check if 21 is prime
print("Check if 21 is prime")
print(is_prime(21))

# Check if 13 is prime
print("Check if 13 is prime")
print(is_prime(13))

Check if 11 is prime
True
Check if 21 is prime
False
Check if 13 is prime
True

<h2>Answer (c)</h2>

In [ ]:
# This function will use is_prime()
def primes_up_to_n(n):
  prime_values = [2, 3]
  for number in range(3, n):
    if is_prime(number):
      prime_values.append(number)

  return prime_values

# Up to 20 prime numbers
print("Up to 20:")
print(primes_up_to_n(20))

# Up to 50 prime numbers
print("Up to 50:")
print(primes_up_to_n(50))

# Up to 100 prime numbers
print("Up to 100:")
print(primes_up_to_n(100))

Up to 20:
[2, 3, 5, 7, 11, 13, 17, 19]
Up to 50:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49]
Up to 100:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97]

<h2>Answer (d)</h2>

In [ ]:
# This function will use is_prime()
def first_n_primes(n):
  prime_values = []
  number_to_check = 2
  count = 0
  while count < n:
    if is_prime(number_to_check):
      prime_values.append(number_to_check)
      count = count + 1

    number_to_check = number_to_check + 1

  return prime_values

# First 20 prime numbers
print("First 20:")
print(first_n_primes(20))
print(f"Length: {len(first_n_primes(20))}")

# First 50 prime numbers
print("First 50:")
print(first_n_primes(50))
print(f"Length: {len(first_n_primes(50))}")

# First 100 prime numbers
print("First 100:")
print(first_n_primes(100))
print(f"Length: {len(first_n_primes(100))}")

First 20:
[5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61]
Length: 20
First 50:
[5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97, 101, 103, 107, 109, 113, 115, 119, 121, 125, 127, 131, 133, 137, 139, 143, 145, 149, 151]
Length: 50
First 100:
[5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97, 101, 103, 107, 109, 113, 115, 119, 121, 125, 127, 131, 133, 137, 139, 143, 145, 149, 151, 155, 157, 161, 163, 167, 169, 173, 175, 179, 181, 185, 187, 191, 193, 197, 199, 203, 205, 209, 211, 215, 217, 221, 223, 227, 229, 233, 235, 239, 241, 245, 247, 251, 253, 257, 259, 263, 265, 269, 271, 275, 277, 281, 283, 287, 289, 293, 295, 299, 301]
Length: 100